<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- 
    Sales Force Work flow settings 
    timeIntervalSF  
      This value is in milliseconds for eg:- 10000 = 10 sec the sales force auto retry method for failed records will be fired after 10 seconds.
      This can be set to minimum 1 min(60000) or more in production
    CCSFURL 
      This url needs to be set to https://cxapiconnect.getcloudcherry.com/api/CCSFRetry/AutoRetrySFFailedRecords
      replace Cloudcherrydomain with 'https://cxapiconnect.getcloudcherry.com'
    -->
    <add key="timeIntervalSF" value="10000"></add>
    <add key="CCSFURL" value="Cloudcherrydomain/api/CCSFRetry/AutoRetrySFFailedRecords"></add>
    <!-- End of sales force work flow settings -->
    
    <!-- 
    Fresh Desk work flow settings
    timeIntervalFD  
      This value is in milliseconds for eg:- 10000 = 10 sec the fresh desk auto retry method for failed records will be fired after 10 seconds.
      This can be set to minimum 1 min(60000) or more in production
    CCSFURL 
      This url needs to be set to https://cxapiconnect.getcloudcherry.com/api/CCSFRetry/AutoRetryFDFailedRecords    
      replace Cloudcherrydomain with 'https://cxapiconnect.getcloudcherry.com'
    -->    
    <add key="timeIntervalFD" value="10000"></add>
    <add key="CCFDURL" value="Cloudcherrydomain/api/CCFDRetry/AutoRetryFDFailedRecords"></add>
    <!-- End of fresh desk work flow settings -->
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>